.footer {
    position: absolute;
    width: 1127px;
    height: 437px;
    left: 0px;
    top: 3369px;

    background: #333333;
    border-radius: 0px;
}

.footer__social {
    display: flex;
}

.footer__midia1 {
    position: absolute;
width: 42px;
height: 42px;
left: 900px;
top: 90px;

}

.footer__midia2 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 1000px;
    top: 90px;
    
}

.footer__midia3 {
    position: absolute;
width: 42px;
height: 42px;
left: 1100px;
top: 90px;
}

.footer__navegacion {
    display: flex;
    
}


.footer__enlace {
    width: 150px;
    
    
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 400px;
/* identical to box height, or 300% */

color: #FFFFFF;

}
.footer__logo {
    position: absolute;
    width: 142px;
    height: 142px;
    left: 50px;
    top: 10px; 

}
